@import "/src/styles/colors.scss";

.inputs-area {
  display: grid;
  grid-template-columns: 1fr 260px;
}

.vars-holder {
  padding: 25px;
  padding-bottom: 0;

  &__title {
    color: $dark-grey;
    margin-bottom: 10px;
  }
}
